#request-design {
  background-image: url(../images/hero-interior-bc.png);
  min-height: 120vh;
  background-position: center;
  background-size: cover;
}

.request-left h1 {
  font-size: 58px !important;
  color: #332c26;
  line-height: 1.2;
}

.request-wrapper {
  padding-top: 50px;
}

#design-experience {
  padding: 101px 0;
}

.design-left h2 {
  color: #332c26;
}

@media (max-width: 1024px) {
  .request-left h1 {
    margin-bottom: 20px;
    font-size: 46px;
  }
}

@media (max-width: 767px) {
  .request-left h1 {
    font-size: 42px !important;
  }
}
